.title-client {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-color;

  padding-top: 94px;
  margin: 0;
}
.client {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
  padding-top: 50px;
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.client__list {
  margin: 0;
  width: calc((100% - 30px * 5) / 6);
  height: 90px;
}

.client__list:last-child {
  margin-right: 0px;
}
